{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "hopscotch": true
  },
  "extends": ["plugin:import/recommended", "airbnb", "prettier", "prettier/react"],
  "settings": {
      "import/resolver": {"node": { "extensions": [ ".tsx", ".js", ".jsx", ".scss" ] }
    }
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/destructuring-assignment": ["error", "never"],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false
    }],
    "react/button-has-type": "off"
  }
}
