.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  width: 20%;

  min-width: 170px;
  min-height: 100px;

  margin-top: -1px;
  margin-right: -1px;
}

.item {
  display: inline-block;
  vertical-align: top;

  text-shadow: 1px 1px #fff;

  font-style: normal;
  line-height: 48px;

  width: 100px;
  height: 48px;

  border-radius: 5px;
}

.variable {
  margin-top: 5px;
}
