@import '../../scss/theme';

@mixin button-kind(
  $c-default: inherit,
  $bg-default: inherit,
  $bc-default: $bg-default,

  $c-disabled: $c-default,
  $bg-disabled: $bg-default,
  $bc-disabled: $bg-disabled,

  $c-active: $c-default,
  $bg-active: $bg-default,
  $bc-active: $bg-active
) {
  cursor: pointer;
  color: $c-default;
  background: $bg-default;
  border: 1px solid $bc-default;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &.active {
    color: $c-active;
    background: $bg-active;
    border-color: $bc-active;
  }

  &.active {
    cursor: default;

    &:hover, &:active {
      color: $c-active;
      background: $bg-active;
      border-color: $bc-active;
    }
  }

  &.disabled {
    cursor: default;
    color: $c-disabled;
    background: $bg-disabled;
    border-color: $bc-disabled;

    &:hover, &:active {
      color: $c-disabled;
      background: $bg-disabled;
      border-color: $bc-disabled;
    }
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
