@import '../../scss/theme';
@import './button.mixin';

.root {
  font: 400 $fs-mini $ff-base;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background .3s, border-color .3s;
}

.content {
  display: flex;
  align-items: center;
}

.small {
  height: 35px;
  @include button-size(5px, 8px, $gs-tiny, inherit, $b-radius);
}

.medium {
  height: 40px;
  @include button-size(0, 8px, $gs-small, inherit, $b-radius);
}

.large {
  height: 47px;
  @include button-size(6px, 10px, $gs-medium, inherit, $b-radius);
}

.primary {
  @include button-kind(
    $c-default: $c-white,
    $bg-default: $blue-munsell,
    $bg-disabled: $dark-sky-blue,
    $bg-active: $skobeloff
  );
}

.secondary {
  @include button-kind(
    $c-default: $blue-munsell,
    $bg-default: $c-white,
    $bc-default: $blue-munsell,

    $c-disabled: $dark-sky-blue,
    $bc-disabled: $dark-sky-blue,

    $c-active: $skobeloff,
    $bc-active: $skobeloff
  );
}
