/* https://coolors.co/ */

$c-white: #FFF;
$blue-munsell: #0099A7;
$skobeloff: #01707B;
$dark-sky-blue: #88ccd4;
$charcoal: #373F51;


/* old */
$c-black: #000;
$c-x11-gray: #BBBDBF;
$c-black-shadow: #7A7A7A;
$c-grey: #ccc;
$c-dim-white: #eee;

$c-raisin-black: #222;
$c-dim-grey: #626E70;
$c-gainsboro: #DDD;
$c-white-smoke: #F5F5F5;
$c-pastel-gray: #C9C7C7;

$c-weldon-blue: #759FAF;
$c-pastel-blue: #A8BFC9;
$c-columbia-blue: #C3D1D8;
$c-platinum: #DFE5E9;

$c-dark-midnight-blue: #0D3560;
$c-lapis-lazuli: #176599;
$c-yale-blue: #124A86;
$c-silver-lake-blue: #5592BC;
$c-azureish-white: #D9E8F3;
$c-iceberg: #71ABD8;
$c-aero: #77BAED;
$c-air-superiority-blue: #7193B7;
$c-gray-darker: #404040;

$c-french-blue: #1173BD;
$c-vivid-cerulean: #03A9F4;
$c-pale-cyan: #81D4FA;
$c-fresh-air: #B3E5FC;

$c-north-texas-green: #009122;
$c-middle-green: #4DAD5F;
$c-dark-sea-green: #83C690;
$c-light-grey: #CAE5CF;

$c-green: #6CAE11;
$c-dollar-bill: #8BC34A;
$c-light-moss-green: #C5E1A5;
$c-tea-green: #DCEDC8;

$c-mikado-yellow: #FFC217;
$c-maize: #FFEE58;
$c-sunny: #FFF176;
$c-lemon-chiffon: #FFF9C4;

$c-carrot-orange: #F6921E;
$c-pastel-orange: #FFB74D;
$c-topaz: #FFCC80;
$c-navajo-white: #FFE0B2;

$c-giants-orange: #FF671F;
$c-pink-orange: #FF8A65;
$c-vivid-tangerine: #FFAB91;
$c-apricot: #FFCCBC;

$c-upsdell-red: #B61B28;
$c-red-orange: #EF5350;
$c-light-salmon-pink: #EF9A9A;
$c-bobble-gum: #FFCDD2;

$c-rich-lilac: #BA68C8;
$c-pineapple: #543866;
$c-bright-ube: #C99AED;
$c-pale-lavender: #EACFFF;

$c-primary: $charcoal !default;
