$ff-base:      "arial";

$fs-micro:      10px;
$fs-mini:       11px;
$fs-tiny:       12px;
$fs-small:      13px;
$fs-medium:     14px;
$fs-large:      15px;
$fs-big:        16px;
$fs-huge:       17px;
$fs-massive:    18px;
$fs-banner:     21px;

$fs-base: $fs-big;
