/*https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap*/

%wordBreak {
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

%truncateText {
  white-space: nowrap;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
