/*Glyph sizes*/
$gs-mini: 10px;
$gs-tiny: 12px;
$gs-small: 14px;
$gs-medium: 16px;
$gs-large: 18px;
$gs-big: 20px;
$gs-huge: 22px;
$gs-massive: 24px;
$gs-banner: 48px;

/*Border radius*/
$b-radius: 5px;
